

.ns-grid{
    height: 100%;
    width: 100%;
}
/*
.ns-grid .k-grid-content-sticky{
    background-color: #ffffff !important;
}
.k-master-row:hover .k-grid-content-sticky {
    background-color: #ebebeb !important;
}*/
